// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.mainContainer{
    margin-bottom: 50px !important;
}

table tr[data-href] {
    cursor: pointer;
}

#app > main > div > table > tbody > tr > td:nth-child(2) > a{
    font-size: 0.5em;
}

a:link {
    text-decoration: none !important;
}
  
/* visited link */
a:visited {
    text-decoration: none !important;
}
  
/* mouse over link */
a:hover {
    text-decoration: none !important;
}
  
/* selected link */
a:active {
    text-decoration: none !important;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-content: space-between;
    justify-content: flex-start;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 200px;
    margin: 5px;
    text-align: center;
}

#app > main > div > div > div > div > div.card-body{
    padding: 0.8rem !important;
}

.carousel-inner img {
    width: auto;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px 0px 20px 0px;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.links > a {
    font-family: "Palatino Linotype" !important;
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.tableBordered{
    border: 3px solid #f2f2f2 !important;
}

.imgCars{
    max-height: 50%; 
    max-width: 50%;
}

.altTopRight{
    width: 100%;
    right: 0px;
    top: 0px;
}

.btnWrap{
    display: block;
}

.btnWrap > a{
    display: inline;
    margin: 20px;
}
